@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800;900&display=swap');

// Base colors

$color-bg: #151515;
$color-secondary: #122526; //secondary button

$color-gray-light-90: hsl(0, 0%, 90%);
$color-gray-light-80: hsl(0, 0%, 80%);
$color-gray-light-70: hsl(0, 0%, 70%);
$color-gray-light-60: hsl(0, 0%, 60%);
$color-gray-light-50: hsl(0, 0%, 50%);
$color-gray-light-40: hsl(0, 0%, 40%);
$color-gray-light-30: hsl(0, 0%, 30%);
$color-gray-light-25: hsl(0, 0%, 25%);
$color-gray-medium: hsl(0, 0%, 21%);
$color-gray-dark-15: hsl(0, 0%, 15%);

$color-card: hsl(0, 0%, 13%);

$color-text: #e7f3f3;
$color-text-dark: hsl(0, 0%, 15%);

// Colors opacity

$color-black-09: hsl(0, 0%, 0%, 0.9);

// Text variables

$ff-text: 'Inter', sans-serif;
